Link p {
    text-decoration: none;
}

.link-active {
    color: black;
    background: orange;
  }

  .greenyellow{
background-color: blueviolet;
  }

  .white{
    background-color: antiquewhite;

  }